<?xml version="1.0" encoding="utf-8"?>
<config>
	<shell-name> Demo </shell-name>
	<display> Resource/normal.png </display>
	<actions>
		<smile> 
			<frame> Resource/smile.png </frame>	
		</smile>
		<cry> 
			<frame> Resource/cry.png </frame>
		</cry>
		<angry>
			<frame> Resource/angry.png </frame>
		</angry>
		<sing>
			<frame> Resource/sing.png </frame>
		</sing>
		<shy>
			<frame> Resource/red.png </frame>
		</shy>
		<drink>
			<frame> Resource/drink_0.png </frame>
			<frame> Resource/drink_1.png </frame>
			<frame> Resource/drink_2.png </frame>
		</drink>
		<drag>
			<frame> Resource/drag_0.png </frame>
			<frame> Resource/drag_1.png </frame>
			<frame> Resource/drag_2.png </frame>
		</drag>
	</actions>
</config>